SECRET_KEY=django-insecure-change-me-in-production
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,wisnubaldas.net,www.wisnubaldas.net,.vercel.app
CSRF_TRUSTED_ORIGINS=http://localhost:8000,http://127.0.0.1:8000,https://wisnubaldas.net,https://www.wisnubaldas.net,https://*.vercel.app
BLOG_URL=https://blog.wisnubaldas.net
DATABASE_URL=
