{% load static %}
<!-- ============================= CTA / ACTION BOX ============================= -->
<div id="action-box" class="content has-bg" data-scrollview="true">
  <div class="content-bg" style="background-image: url({% static 'company_profile/img/bg/bg-action.jpg' %})"
       data-paroller-factor="0.5" data-paroller-factor-md="0.01" data-paroller-factor-xs="0.01">
  </div>

  <div class="container" data-animation="true" data-animation-type="animate__fadeInRight">
    <div class="row action-box">
      <div class="col-lg-9">
        <div class="icon-large text-primary"><i class="fa fa-rocket"></i></div>
        <h3>PUNYA PROYEK YANG INGIN DIBANGUN?</h3>
        <p>Mari kita diskusikan ide Anda dan wujudkan menjadi produk digital yang luar biasa.</p>
      </div>
      <div class="col-lg-3">
        <a href="#contact" data-click="scroll-to-target" class="btn btn-outline-white btn-theme btn-block">Hubungi Sekarang</a>
      </div>
    </div>
  </div>
</div>
