{% load static %}
<!-- ============================= QUOTE ============================= -->
<div id="quote" class="content bg-black-darker has-bg" data-scrollview="true">
  <div class="content-bg" style="background-image: url({% static 'company_profile/img/bg/bg-quote.jpg' %})"
       data-paroller-factor="0.5" data-paroller-factor-md="0.01" data-paroller-factor-xs="0.01">
  </div>

  <div class="container" data-animation="true" data-animation-type="animate__fadeInLeft">
    <div class="row">
      <div class="col-lg-12 quote">
        <i class="fa fa-quote-left"></i> Semangat melahirkan desain, desain melahirkan performa, <br />
        performa melahirkan <span class="text-primary">kesuksesan</span>!
        <i class="fa fa-quote-right"></i>
        <small>{% if profile %}{{ profile.full_name }}{% else %}Wisnu Hidayat{% endif %}, Full Stack Developer</small>
      </div>
    </div>
  </div>
</div>
