SECRET_KEY=django-insecure-change-me-in-production
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,blog.wisnubaldas.net,.vercel.app
CSRF_TRUSTED_ORIGINS=http://localhost:8001,http://127.0.0.1:8001,https://blog.wisnubaldas.net,https://*.vercel.app
MAIN_PROFILE_URL=https://wisnubaldas.net
DATABASE_URL=
