@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: 'Ubuntu', 'Segoe UI', sans-serif;
  }

  body {
    @apply bg-slate-50 text-slate-900;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}
